<div class="lists">
  <div class="row g-4">
    <% users.each do |user| %>
      <div class="col-md-6 col-xxl-4">
        <div class="list-item">
          <div class="d-flex justify-content-between align-items-center">
            <%= link_to myitems_user_path(user.id) do %>
              <div class="info-container">
                <div class="icon-image-sm">
                  <%= user_avatar_image_tag(user) %>
                </div>
                <div class="user-name-only">
                  <p class="user-name"><%= user.name %></p>
                </div>
              </div>
            <% end %>
          </div>
          <div class="item-image-sm">
            <div class="row">
              <% user.items.each do |item| %>
                <% if item.image.present? %>
                  <div class="col-3 my-2">
                    <%= link_to item_path(item.id) do %>
                      <%= image_tag item.image %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="detail-link-container">
            <P><%= link_to "ユーザー詳細へ", myitems_user_path(user.id), class: "btn detail-link" %></P>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
